@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inspiration&family=Lobster&display=swap');

body{
  background-color: lavender !important;
}

.md-nav__title,
.md-footer-meta__inner {
  display: none !important;
}

.row {
  display: flex;
}

.padding-left-5 {
  padding-left: 5%;
}

/* ESTILO DOS LINKS DO MENU LATERAL */
.md-nav__link {
  font-size: 20px; 
  /* border: 1px solid;
  padding: 10px;
  border-radius: 17px;
  text-align: center; */
}
.md-footer__link{
  color: white !important;
}

.custom-bg-color {
  background-color: #4051b5ba !important;
}

a {
  text-decoration: none !important;
  color: black !important;
}
.md-nav__link{
  font-family: 'Alfa Slab One', cursive;
}
.md-nav__link--active{
  color: #4051b5 !important;
  border-left: 1px solid #4051b5; 
  padding-left: 3px;
}


.custom-theme-color {
  background-color: #4051b5 !important;
}

.custom-badge {
  background-color: lightgreen;
  color: black;
  padding: 3px
}

.pdf {
  position: absolute;
  width: 100%;
  border: 1px solid gray;
  right: 1px;
  top: 1px;
  padding: 0px 100px;
  background-color: white !important;
  z-index: 99;
}

.pdf>h4 {
  color: gray;
  font-size: 14px;
}

.custom-ul>li {
  font-size: 12px;
}

@media (min-width: 1025px) {

  /* CSS help in https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */
  .whatsapp {
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-image: url('./imagens/whatsapp.png');
    padding: 50px;
    background-size: cover;
  }
/*    
  .whatsapp[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
  } */
}

.animate__animated{
  border-radius: 20px;;
}
