@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inspiration&family=Lobster&family=Montserrat&display=swap');

body {
  /* background-color: lavender !important; */
  font-family: 'Montserrat', sans-serif !important;
}

.md-nav__title,
.md-footer-meta__inner {
  display: none !important;
}

.md-header[data-md-state=shadow] {
  box-shadow: 0px 12px 21px 0px grey;
  transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;
}



.padding-left-5 {
  padding-left: 5%;
}
/* ESTILO DA ROW e COL*/
.row {
  display: flex;
}
.col{
  background: white;
  opacity:0.9;
  border-radius: 10px;
}
/*ESTILO DA BARRA DE SKILLS*/
.progress{
  background-color: #f8f9fa !important;
}
/* ESTILO DOS LINKS DO MENU LATERAL */
.md-nav__link {
  font-size: 20px;
  color: #4051b5 !important;
  /* border: 1px solid;
  padding: 10px;
  border-radius: 17px;
  text-align: center; */
}

.md-footer__link {
  color: white !important;
}

.custom-bg-color {
  background-color: #4051b5ba !important;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.md-nav__link {
  /* font-family: 'Montserrat', sans-serif; */
}

.md-nav__link--active {
  color: white !important;
  padding-left: 3px;
  background-color: #4051b5;
  border-radius: 4px;
}


.custom-theme-color {
  background-color: #4051b5 !important;
}

.custom-badge {
  background-color: lightgreen;
  color: black;
  padding: 3px
}

.pdf {
  position: absolute;
  width: 100%;
  border: 1px solid gray;
  right: 1px;
  top: 1px;
  padding: 0px 100px;
  background-color: white !important;
  z-index: 99;
}

.pdf>h4 {
  color: gray;
  font-size: 14px;
}

.custom-ul>li {
  font-size: 12px;
}

.animate__animated {
  border-radius: 20px;  
}

/* ESTILO PARA AS IMAGENS DA HOME*/
.row > .col:hover {
  z-index:9999;
  }

.row > .col > img {
  height: 122px;
  width:100%;
 
}
.stack-img{
  transition: all 0.5s !important;
}
.stack-img:hover{
  -webkit-transform: scale(1.3) !important;
  transform: scale(1.3) !important;
  background-color: white;
  z-index: 999;
  box-shadow: 10px 10px 10px 10px #80808082;
  padding: 5px 5px;
}
/* MEDIA QUERYES */
/* PARA TELAS DE PC*/
@media (min-width: 1025px) {

  /* CSS help in https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */
  .whatsapp {
    display: none;
    position: fixed;
    bottom: 300px;
    right: 100px;
    background-image: url('./imagens/whatsapp.png');
    padding: 50px;
    background-size: cover;
  }
  .whatsapp:hover {
    box-shadow: 3px 5px 23px 8px #29a71a; 
    border-radius: 100%;
  }

  /*    
  .whatsapp[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
  } */
  .custom-row-profile {
    position: fixed
  }

  .custom-row-center {
    margin-top: auto;
  }

  #perfil-mobile{
    display: none;
  }
}



/* PARA MOBILE*/
@media (max-width: 1000px) {
  .custom-row-profile {
    text-align: center;
  }
  #inicio{
    display: none;
  }
  .custom-right-section{
    /* display: none; */
  }
  /* CSS help in https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */
  .whatsapp {
    position: fixed;
    bottom: 50px;
    left: 20px;
    background-image: url('./imagens/whatsapp.png');
    padding: 30px;
    background-size: cover;
  }
  .whatsapp:hover {
    box-shadow: 3px 5px 23px 8px #29a71a; 
    border-radius: 100%;
  }
}

